.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--cd-space-2) var(--cd-space-3);
    background-color: var(--cd-clr-9);
    color: var(--cd-clr-9-txt);
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    z-index: 4;
    box-sizing: border-box;
}

.header-title {
    font-size: var(--cd-font-5);
    text-shadow: 1px 1px 2px var(--cd-clr-9-txt);
    letter-spacing: 2px;
}

.movie-search-container {
    margin-top: var(--cd-space-2);
}

.movie-text-search-elm {
    display: flex;
    align-items: center;
    padding: 0 var(--cd-space-1);
    height: 30px;
    background-color: var(--cd-clr-9-txt);
    border: 1px solid var(--cd-clr-9-txt);
    border-radius: 3px;
}

.movie-basic-search-container {
    display: none;
    flex-direction: column;
}

.movie-text-search-icon {
    color: #a9a9a9;
    margin-right: var(--cd-space-2);
}

.movie-text-search-input {
    border: none;
    outline: none;
    width: 100%;
}

.movie-search-lbl {
    font-size: var(--cd-font-1);
}

.movie-basic-search-input {
    width: 100%;
    padding: 0 var(--cd-space-1);
    margin-bottom: var(--cd-space-1);
    background-color: var(--cd-clr-9-txt);
    border: 1px solid var(--cd-clr-9-txt);
    border-radius: 3px;
    box-sizing: border-box;
    height: 20px;
}

.movie-search-btn {
    width: 100%;
    padding: var(--cd-space-2);
    margin: var(--cd-space-2) 0;
    background-color: var(--cd-clr-sec-1);
    color: var(--cd-clr-sec-1-txt);
    font-size: var(--cd-font-3);
    cursor: pointer;
    border: none;
}

.movie-clear-search-btn {
    margin-top: 0;
}

.movie-text-search-lbl,
.movie-basic-search-last-lbl {
    width: 100%;
    min-width: 90px;
    text-align: end;
    font-size: var(--cd-font-3);
    text-decoration: underline;
    cursor: pointer;

    background: transparent;
    color: white;
    border: none;
}

.movie-text-search-lbl {
    display: none;
    justify-content: flex-end;
}

.movie-basic-search-active .movie-basic-search-container,
.movie-basic-search-active .movie-text-search-lbl {
    display: flex;
}

.movie-basic-search-active .movie-text-search-container,
.movie-basic-search-active .movie-basic-search-last-lbl {
    display: none;
}

@media (min-width:768px) {

    .movie-search-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .movie-search-btn {
        height: 30px;
        width: auto;
        margin: 0 var(--cd-space-2);
        box-sizing: border-box;
    }

    .movie-text-search-lbl,
    .movie-basic-search-last-lbl {
        align-self: flex-end;
        width: auto;
    }

    .movie-basic-search-container {
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .movie-basic-search-input-container {
        width: calc(50% - var(--cd-space-1));
        margin-right: var(--cd-space-1);
    }

    .movie-basic-search-input-select {
        flex-grow: 1;
        max-width: 300px;
    }

    .movie-basic-search-title-input {
        flex-grow: 1;
        max-width: 300px;
    }

    .movie-basic-search-short-input {
        max-width: 70px !important;
    }

    .movie-text-search-elm {
        min-width: 350px;
    }

}

@media (min-width:992px) {
    .search-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .movie-search-container {
        justify-content: flex-end;
        align-items: flex-end;
        height: 36px;
        margin-top: 0;
    }

    .movie-basic-search-container {
        justify-content: flex-end;
        margin-left: var(--cd-space-2);
    }

    .movie-basic-search-input-container {
        width: calc(33.33% - var(--cd-space-1));
    }

    .movie-basic-search-input {
        margin-bottom: 0;
    }

    .movie-basic-search-input-select {
        max-width: 150px;
    }
    .movie-clear-search-btn {
        margin: 0;
    }
}

@media (min-width:1200px) {
    .movie-basic-search-input-container {
        width: calc((100% / 6) - var(--cd-space-1));
        margin-bottom: 0;
    }
}